<body>

    <h3>My Inventory</h3>

    <div>
        <form>
            <label for="fname">Product Name</label>
            <input type="text" id="pname" name="productName" placeholder="name of the product">
            <label for="pquality">Product Quantity</label>
            <input type="text" id="pname" name="productQuantity" placeholder="product quantity">
            <label for="pservice">Product Service</label>
            <input type="text" id="pname" name="productService" placeholder="name of the service">
            <label for="ptype">Product Type</label>
            <input type="text" id="pname" name="prductType" placeholder="type of the product">
            <option value="smartphone">Smart Phones</option>
            <option value="Computer Accessories">Computer Accessories</option>
            <option value="Clothes">Clothes</option>

            <input type="submit" value="Submit">
        </form>
    </div>

</body>